@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', 'SF Pro', 'Open Sans', Candara;
    font-size: clamp(0.938rem, 0.8873rem + 0.1503vw, 1rem);
}

ul,
li {
    list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    * *::before *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
